.y-bubble {
    position: absolute;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(13, 13, 13, .8);
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    color: #fff !important;
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", 'Helvetica', sans-serif;
    line-height: 1.5;
    min-width: 300px;
    max-width: 500px;
    z-index: 9999;
    text-align: left;
}

.y-bubble p {
    color: #fff !important;
    margin: 2px 0;
    line-height: 20px;
}

.y-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.y-bubble-explains {
    margin:10px 0;
}

.y-bubble-more {
    margin-top: 5px;
    text-align: right;
}

.y-bubble-more a {
    color: #ffffff !important;
    text-decoration: none !important;
}

.y-bubble-more a:hover {
    text-decoration: underline !important;
}