.card-wrapper {
    position: absolute;
    z-index: 999;
    min-width: 250px;
    max-width: 500px;
}

.card {
    overflow: visible;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(13, 13, 13, .8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    color: #fff;
    font-weight: 300;
    font-family: "Roboto", 'Helvetica', sans-serif;
    line-height: 1.5;
}

.card::before {
    position: absolute;
    top: -12px;
    left: 5px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(13, 13, 13, .8);
    border-left: 12px solid transparent;
    content: '';
}

.card-content {
    padding: 12px;
}

.card-content a {
    text-decoration: none;
}

.card-title {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 20px;
}

.pronoun {
    display: block;
    box-sizing: inherit;
    margin-bottom: 7px;
    background: inherit;
    color: #fff;;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    font-family: inherit !important;
    line-height: inherit;
}

.web-translation {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
}