body {
    min-width: 450px;
    background: #FAFAFA;
    font-size: 16px;
    font-family: "Microsoft Yahei", "Monaco", sans-serif;
}

#queryBox {
    margin-bottom: 0;
}

#dictForm > .row {
    margin-bottom: 10px;
}

#dictForm > .row > .input-field {
    margin-top: .5rem;
}

#resultBox {
    margin-bottom: 5px;
}

#resultField {
    padding: 10px;
}

#basic {
    font-size: 1.5rem;
    line-height: inherit;
}

input {
    font-size: 1.5rem !important;
}

