## 参考 http://eslint.org/docs/user-guide/configuring
---
  env:
    browser: true
    node: true
    es6: true
  ecmaFeatures:
    arrowFunctions: true
    binaryLiterals: true
    blockBindings: true
    classes: true
    defaultParams: true
    destructuring: true
    forOf: true
    generators: true
    modules: true
    objectLiteralComputedProperties: true
    objectLiteralDuplicateProperties: true
    objectLiteralShorthandMethods: true
    objectLiteralShorthandProperties: true
    octalLiterals: true
    regexUFlag: true
    regexYFlag: true
    spread: true
    superInFunctions: true
    templateStrings: true
    unicodeCodePointEscapes: true
    globalReturn: true
    jsx: true
  rules:
    # 应用撇号``，不使用时不报错
    quotes:
      - 0
      - "backtick"
      - "avoid-escape"
    # 警告多空格
    no-multi-spaces:
      - 1
      -
        exceptions:
          Property: true
    # 警告对象内多空格
    key-spacing:
      - 0
      -
        align: "colon"
    # 警告无逗号结尾
    semi:
      - 1
      - "always"
    # 允许逻辑语句单行
    brace-style:
      - 2
      - "1tbs"
      -
        allowSingleLine: true
    # 允许逻辑语句无大括号
    curly:
      - 1
      - "multi"
    # 支持 alert, confirm, prompt
    no-alert: 0
    # 警告未定义使用
    no-use-before-define: 1
    # 允许 constructor 首字母小写
    new-cap: 1

    no-unused-expressions: 0
    no-unused-vars: 1
    consistent-return: 0
    eqeqeq: 1
    no-mixed-spaces-and-tabs: 1
