.y-bubble {
  position: absolute;
  z-index: 9999;
  margin: 0;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 5px;
  background-color: rgba(13, 13, 13, .8);
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  color: #fff !important;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", 'Helvetica', sans-serif;
  line-height: 1.5;
  p {
    margin: 2px 0;
    color: #fff !important;
    line-height: 20px;
  }
  .y-bubble-word {
    color: #f60;
  }
  .y-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .y-bubble-explains {
    margin: 10px 0;
  }
  .y-clearfix {
    &:before,
    &:after {
      display: table;
      content: '';
    }
    &:after {
      clear: both;
    }
  }
  .y-bubble-more {
    margin-top: 10px;
    .y-pull-left {
      float: left;
    }
    .y-pull-right {
      float: right;
    }
    a {
      color: #ffffff !important;
      text-decoration: none !important;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  .spinner {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    &.hide {
      display: none;
    }
    .double-bounce1,
    .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }
    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    @-webkit-keyframes sk-bounce {
      0%,
      100% {
        -webkit-transform: scale(0.0);
      }
      50% {
        -webkit-transform: scale(1.0);
      }
    }
    @keyframes sk-bounce {
      0%,
      100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      }
      50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
  }
}
