body {
  min-width: 450px;
  background: #FAFAFA;
  font-size: 16px;
  font-family: "Microsoft Yahei", "Monaco", sans-serif;
  input {
    font-size: 1.5rem !important;
  }
  .clearfix {
    &:before,
    &:after {
      display: table;
      content: '';
    }
    &:after {
      clear: both;
    }
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .queryBox {
    margin-bottom: 0;
    .dictForm {
      margin-bottom: 0;
      & > .row {
        margin-bottom: 0;
        & > .input-field {
          margin-top: 0.5rem;
        }
      }
    }
  }
  .resultBox {
    margin-bottom: 5px;
    .resultField {
      padding: 10px;
      .basic {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        line-height: inherit;
        .pronoun {
          display: block;
          margin-bottom: 0.3rem;
          font-style: italic;
          #wav {
            padding: 0 5px;
          }
        }
      }
    }
    .card-action {
      padding: 10px 20px;
      span {
        margin-right: 20px;
        padding: 0;
        transition: .3s ease;
        text-transform: uppercase;
        color: #ffab40;
        cursor: pointer;
        &:hover,
        &:active {
          color: #ffd8a6;
          outline: 0;
        }
      }
    }
  }
}
